<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Permite notificări push -->
    <key>aps-environment</key>
    <string>production</string>

    <!-- Permite accesul la fișiere selectate de utilizator cu drepturi de citire și scriere -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>

    <!-- Permite accesul la directoare temporare pentru citire și scriere -->
    <key>com.apple.security.files.downloads.read-write</key>
    <true/>
  </dict>
</plist>
